@import url('https://fonts.googleapis.com/css?family=News+Cycle|Raleway');
body {
    /*background-color: #ffffff;*/
    height:96%
}
h1 {
    font-family:'News Cycle', sans-serif;
}
a, p {
    font-family:'Raleway', sans-serif;
    text-decoration: none;
    color: #000000;
}