div.content {
    padding-top: 55px;
    height: 96%;
    width: 86%;
    float: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff;
}
h1.content {
    padding-left: 3%;
}
p.content {
    padding-left: 3%;
}
div.textcontent {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 97%;
    background-color: #ffffff;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #eeeeee;
    border-radius: 3px;
}
div.contentlink {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 97%;
    background-color: #ffffff;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #eeeeee;
    border-radius: 3px;
}
a.contentlink {
    border-top: 1px solid #d8d8d8;
    padding-top: .5%;
    padding-bottom: .5%;
    display: block;
    text-align: center;
    padding-left: 4%;
    padding-right: 86%;

}

div.projectcontent {
    padding-top: 55px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 96%;
}
div.project {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 10%;
    height: 50%;
    background-color: #ffffff;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #eeeeee;
    border-radius: 3px;
}

img.project {
    padding-top: 15px;
    display: block;
    margin:auto;
    width: 93%;
    height: auto;
}
