/* Desktop Styles for rubenruiz.org */
div.header {
    background-color: #ececec;
    top: 0;
    left: 0;
    padding-left: 15%;
    width: 100%;
    position: fixed;
    box-shadow: 2px 2px 2px #cccccc;
    z-index: 999;
}
h1.header {
    display: inline;
    padding-right: 20px;
}
a.header {
    display: inline;
    padding-right: 10px;
}

div.infobar {
    padding-top: 55px;
    left: 0;
    height: 94%;
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: fixed;
    float: left;
}
div.about {
    width: 90%;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 2px #cccccc;
    border-radius: 3px;
}
p.about {
    padding-left: 3%;
    font-size: 12px;
}

img.about {
    padding-top: 15px;
    display: block;
    margin:auto;
    width: 93%;
    height: auto;
}
div.content {
    padding-top: 55px;
    height: 96%;
    width: 86%;
    float: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #ffffff;
}
h1.content {
    padding-left: 3%;
}
p.content {
    padding-left: 3%;
}
div.textcontent {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 97%;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 2px #cccccc;
    border-radius: 3px;
}
div.contentlink {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 97%;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 2px #cccccc;
    border-radius: 3px;
}
a.contentlink {
    border-top: 1px solid #d8d8d8;
    padding-top: .5%;
    padding-bottom: .5%;
    display: block;
    text-align: center;
    padding-left: 4%;
    padding-right: 86%;

}
div.contact {
    margin-top: 5%;
    width: 90%;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px 2px #cccccc;
    border-radius: 3px;
}
a.contactlink {
    font-size: 24px;
    padding-left: 3%;
}
